.submit-form{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.form-groups{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}


.form-group{
    padding: 1rem 0;
    box-sizing: border-box;
}

.form-group label{
    display: block;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.form-file{
    margin-left: 1.5rem;
    display: inline-flex;
    flex-direction: column;
}

.form-file > input{
    margin-bottom: 1rem;
}

.form-file > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}