.blogPostContainer{
    width: 68%;
}

.blogHeader{
    text-align: center;
    text-transform: uppercase;
}
.postTitle{
    transform: capitalize;
    font-size: 30px;
}
.postImageContainer{
    width: 100%;
    box-sizing: border-box;
}
.postImageContainer img{
    width: 100%;
    object-fit: cover;
}
.postContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
}
.postContent p:first-child{
    font-weight: bold;
    margin-right:4px;
}

.postContent .postdetails{
    display: inline-flex;
}

.postedBy{
    display: inline-flex;
}