.blogPostContainer{
    width: 70%;
}

.blogHeader{
    text-align: center;
}

.blogCategory{
    display: block;
    padding: 10px 0;
    font-size: 14px;
}

.postTitle{
    transform: capitalize;
    font-size: 30px;
    letter-spacing: 0.5px;    
}

.postedBy{
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.postImageContainer{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.postImageContainer img{
    width: 100%;
}