.sliderBar{
    width: 25%;
}

.cardHeader{
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 10px 0;
    box-sizing: border-box;
}

.cardHeader span{
    text-transform: uppercase;
}

.cardHeader .cardImg{
    margin-top: 13px;
}
.cardHeader .cardImg i{
    margin: 10px 20px;
    font-size: 1.5rem;
}

.personalBio{
    font-size: 1;
    font-weight: bold;
}

.recentPosts{
    padding: 10px 0;
}

.recentPosts > a{
    text-decoration: none;

}

.recentPost{
    border-bottom: 1px solid #eee;
    padding: 0 0 9px 0;
    
}

.recentPost h3{
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
    font-weight: bold;
    color: black;
}

.recentPost span{
    font-size: 10px;
    font-weight: 300;
    color: gray;
}

.recentPost:hover{
    transform: translateY(-10%);
    cursor: pointer;
}